body {
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

header img {
    height: 120px;
}

.research {
    height: 50px;
    background-color: #f2f2f2;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    font-size: 30px;
    align-items: center;
}

.research input {
    border: none;
    background-color: #f2f2f2;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
}

.research .fa-magnifying-glass {
    padding-right: 20px;
    cursor: pointer;
}

.sectionForm {
    margin-top: 25px;
    font-size: 18px;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.sectionForm div {
    width: 30%;
    white-space: nowrap;
}

.sectionSearch {
    display: flex;
    color: white;
    margin-bottom: 25px;
    margin-left: -10px;
}

.sectionSearch form {
    position: relative;
}

.sectionSearch .ingredient,
.sectionSearch .ingredient .inputIngredient {
    width: 200px;
    background-color: #3282f7;
    height: 31px;
}

.Tag {
    display: inline-flex;
    justify-content: space-between;
    color: white;
    height: 31px;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    margin: 20px 10px 10px 10px;
    font-size: 24px;
    gap: 10px;
}

.tagIngredient {
    background-color: #3282f7;
}

.tagDevice {
    background-color: #68d9a4;
}

.tagUtensil {
    background-color: #ed6454;
}

.tagText {
    padding-right: 5px;
}

.fa-circle-xmark:hover {
    cursor: pointer;
}

.sectionSearch .ingredient:hover {
    min-height: 31px;
    height: 100%;
    /*max-height: 1400px;*/
    min-width: 200px;
    width: 100%;
    max-width: 800px; /*width of the area research*/
    /*min-width: 200px;*/
    margin-bottom: -1400px;
    z-index: 3;
}

.sectionSearch .ingredient:hover .fa-angle-up {
    transform: rotate(0deg);
    animation-duration: 1s;
    animation-name: rotationAngleInvert;
    cursor: pointer;
}

.sectionSearch .devices,
.sectionSearch .devices .inputDevice {
    width: 200px;
    background-color: #68d9a4;
    height: 31px;
}

.sectionSearch .devices:hover {
    min-height: 31px;
    height: 100%;
    /*max-height: 460px;*/
    min-width: 200px;
    width: 100%;
    max-width: 800px; /*width of the area research*/
    /*min-width: 200px;*/
    margin-bottom: -460px;
    z-index: 3;
}

.sectionSearch .devices:hover .fa-angle-up {
    transform: rotate(0deg);
    animation-duration: 1s;
    animation-name: rotationAngleInvert;
    cursor: pointer;
}

.sectionSearch .utensils,
.sectionSearch .utensils .inpUtensil {
    width: 200px;
    background-color: #ed6454;
    height: 31px;
}

.sectionSearch .utensils:hover {
    min-height: 31px;
    height: 100%;
    max-height: 460px;
    min-width: 200px;
    width: 100%;
    max-width: 800px; /*width of the area research*/
    /*min-width: 200px;*/
    margin-bottom: -460px;
    z-index: 3;
}

.sectionSearch .utensils:hover .fa-angle-up {
    transform: rotate(0deg);
    animation-duration: 1s;
    animation-name: rotationAngleInvert;
    cursor: pointer;
}

.sectionSearch .devices .inputDevice,
.sectionSearch .ingredient .inputIngredient,
.sectionSearch .utensils .inpUtensil {
    /*margin: 25px 20px 25px 20px;*/
    border: none;
    color: white;
    font-size: 25px;
    width: 75%;
    /*display: none;*/
}

.sectionSearch .devices .inputDevice::placeholder,
.sectionSearch .ingredient .inputIngredient::placeholder,
.sectionSearch .utensils .inpUtensil::placeholder {
    color: white;
    opacity: 1;
}

.sectionSearch .devices .fa-angle-up,
.sectionSearch .ingredient .fa-angle-up,
.sectionSearch .utensils .fa-angle-up {
    font-size: 25px;
    position: absolute;
    right: 20px;
}

.sectionSearch .utensils,
.sectionSearch .devices,
.sectionSearch .ingredient {
    padding: 25px 20px 25px 20px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.fa-angle-up {
    transform: rotate(180deg);
    animation-duration: 1s;
    animation-name: rotationAngle;
    cursor: pointer;
}

.fa-angle-up:active {
    transform: rotate(0deg);
    animation-duration: 1s;
    animation-name: rotationAngleInvert;
    cursor: pointer;
}
@keyframes rotationAngle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotationAngleInvert {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.spanH2 {
    font-weight: normal;
    padding-left: 10px;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.recipes .mainDiv article {
    width: 100%;
}

.mainDiv {
    height: 900px;
    border-radius: 10px;
    background-color: #d1d1d1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.bottomDiv {
    background-color: #f2f2f2;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.bottomDiv .title {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.bottomDiv .divFooter {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.bottomDiv .titleReciper {
    font-size: 1.5em;
}

.divChildFooter2 {
    font-size: 1.5em;
}

.bottomDiv .titleReciper span {
    font-weight: normal;
}
